@use "../../../assets/styles/helpers/mixin";

.profile-dropdown {
  width: 360px;
  box-shadow: 0 0 40px 0 #4E4E4E0F;
  border-radius: var(--ds-border-radius-2xl);
  border: 1px solid var(--ds-color-border-quintary);
  background-color: var(--ds-color-bg-white);
  overflow: hidden;
  @include mixin.absolute(calc(100% + var(--ds-space-8)), 0, unset, unset);

  &__top {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    padding: var(--ds-space-16);
    border-bottom: 1px solid var(--grey-50);
    gap: var(--ds-space-12);

    &--center {
      @include mixin.flex-direction(column);
      text-align: center;
    }
  }

  &__header {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    padding: var(--ds-space-16);
    border-bottom: 1px solid var(--grey-50);
  }

  &__nav {
    list-style: none;
    padding: var(--ds-space-4);

    li {
      &:not(&:last-child) {
        margin-bottom: var(--ds-space-2);
      }
    }

    &__link {
      @include mixin.flexbox;
      @include mixin.align-items(center);
      color: var(--ds-color-text-primary);
      text-decoration: none;
      cursor: pointer;
      padding: var(--ds-space-8) var(--ds-space-12);
      min-height: var(--ds-size-40);
      border-radius: var(--ds-border-radius-lg);

      &:hover {
        background-color: var(--ds-color-bg-container-light);
        color: var(--ds-color-text-primary);
      }

      &:focus {
        box-shadow: none !important;
        outline: none;
      }
    }
  }

  &__bottom {
    border-top: 1px solid var(--grey-50);
  }
}
