@use "../helpers/mixin";

.alert {
  $this: &;

  --ds-alert-border-radius: var(--ds-border-radius-2xl);
  --ds-alert-padding: var(--ds-space-16);

  --ds-alert-grey-bg: var(--ds-color-bg-container-light);
  --ds-alert-grey-border-color: var(--ds-color-border-tertiary);

  --ds-alert-information-bg: var(--ds-color-bg-info-extra-light);
  --ds-alert-information-border-color: var(--ds-color-border-info-light);

  --ds-alert-success-bg: var(--ds-color-bg-success-extra-light);
  --ds-alert-success-border-color: var(--ds-color-border-success-light);

  --ds-alert-warning-bg: var(--ds-color-bg-warning-extra-light);
  --ds-alert-warning-border-color: var(--ds-color-border-warning-light);

  --ds-alert-danger-bg: var(--ds-color-bg-danger-extra-light);
  --ds-alert-danger-border-color: var(--ds-color-border-danger-light);

  --ds-alert-discovery-bg: var(--ds-color-bg-discovery-extra-light);
  --ds-alert-discovery-border-color: var(--ds-color-border-discovery-light);

  padding: var(--ds-alert-padding);

  &--inline {
    border: 1px solid;
    border-radius: var(--ds-alert-border-radius);

    #{$this}__content {
      &__inner {
        @include mixin.flex-direction(column);
        @include mixin.align-items(flex-start);
      }
    }

    #{$this}__actions {
      margin-top: var(--ds-space-12);
      padding-left: 36px;
    }
  }

  &--sticky {
    #{$this}__content {
      @include mixin.align-items(center);
    }

    #{$this}__actions {
      margin-left: var(--ds-space-8);
      white-space: nowrap;
    }
  }

  &--grey {
    background-color: var(--ds-alert-grey-bg);
    border-color: var(--ds-alert-grey-border-color);
  }

  &--information {
    background-color: var(--ds-alert-information-bg);
    border-color: var(--ds-alert-information-border-color)
  }

  &--discovery {
    background-color: var(--ds-alert-discovery-bg);
    border-color: var(--ds-alert-discovery-border-color)
  }

  &--success {
    background-color: var(--ds-alert-success-bg);
    border-color: var(--ds-alert-success-border-color)
  }

  &--warning {
    background-color: var(--ds-alert-warning-bg);
    border-color: var(--ds-alert-warning-border-color)
  }

  &--error {
    background-color: var(--ds-alert-danger-bg);
    border-color: var(--ds-alert-danger-border-color)
  }

  &__content {
    @include mixin.flexbox;

    &__inner {
      @include mixin.flexbox;
      @include mixin.align-items(center);
      flex: 1;
    }

    &__left {
      @include mixin.flexbox;
      @include mixin.align-items(flex-start);
      flex: 1;
    }
  }
}