@use "../helpers/mixin";

.no-result {
  $this: &;

  &__content {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    @include mixin.justify-content(center);
    @include mixin.flex-direction(column);
    text-align: center;
  }

  &__icon {
    margin: auto;
  }

  &__btn {
    width: fit-content;
  }

  &--large {
    padding: var(--ds-space-80) var(--ds-space-24);

    #{$this}__icon {
      width: 95px;
    }

    #{$this}__content {
      gap: 8px;
    }

    #{$this}__btn {
      margin-top: var(--ds-space-8);
    }
  }

  &--small {
    padding: var(--ds-space-40) var(--ds-space-16);

    #{$this}__icon {
      width: 67px;
    }

    #{$this}__content {
      gap: 4px;
    }

    #{$this}__btn {
      margin-top: var(--ds-space-4);
    }
  }
}