@use "../helpers/mixin";

.svg-icon {
  @include mixin.flexbox;
  @include mixin.align-items(center);
  @include mixin.justify-content(center);
  width: 1em;
  height: 1em;
  vertical-align: top;
  font-size: var(--ds-size-24);

  path {
    pointer-events: none;
  }

  &__size {
    $sizes: (
      xxsmall: var(--ds-size-12),
      xsmall: var(--ds-size-16),
      small: var(--ds-size-20),
      medium: var(--ds-size-24),
      large: var(--ds-size-28),
      xlarge: var(--ds-size-32),
      xxlarge: var(--ds-size-48),
    );
    @each $key, $value in $sizes {
      &-#{$key} {
        font-size: $value;
        min-width: $value;
      }
    }
  }

  &__type {
    $types: (
        primary: var(--ds-color-icon-primary),
        secondary: var(--ds-color-icon-secondary),
        tertiary: var(--ds-color-icon-tertiary),
        quaternary: var(--ds-color-icon-quaternary),
        disabled: var(--ds-color-icon-disabled),
        inverse: var(--ds-color-icon-inverse),
        brand-light: var(--ds-color-icon-brand-light),
        brand-dark: var(--ds-color-icon-brand-dark),
        success-light: var(--ds-color-icon-success-light),
        success-dark: var(--ds-color-icon-success-dark),
        information-light: var(--ds-color-icon-info-light),
        information-dark: var(--ds-color-icon-info-dark),
        warning-light: var(--ds-color-icon-warning-light),
        warning-dark: var(--ds-color-icon-warning-dark),
        danger-light: var(--ds-color-icon-danger-light),
        danger-dark: var(--ds-color-icon-danger-dark),
        discovery-light: var(--ds-color-icon-discovery-light),
        discovery-dark: var(--ds-color-icon-discovery-dark),
    );
    @each $key, $value in $types {
      &-#{$key} path[fill] {
        fill: $value;
      }
      &-#{$key} path:not([fill]) {
        stroke: $value;
        fill: none;
      }
    }
  }
}