@use "../helpers/mixin";

:root {
  --ds-tab-border-radius-lg: var(--ds-border-radius-xl);
  --ds-tab-border-radius-md: var(--ds-border-radius-lg);
  --ds-tab-border-radius-sm: var(--ds-border-radius-md);

  --ds-tab-color-default: var(--ds-color-text-secondary);
  --ds-tab-color-hover: var(--ds-color-text-tertiary);
  --ds-tab-color-selected: var(--ds-color-text-primary);
  --ds-tab-color-disabled: var(--ds-color-text-disabled);

  --ds-tab-bg-color-default: transparent;
  --ds-tab-bg-color-hover: transparent;
  --ds-tab-bg-color-selected: transparent;
  --ds-tab-bg-color-disabled: transparent;
  --ds-tab-bg-color-selected-disabled: transparent;

  --ds-tab-border-color-default: transparent;
  --ds-tab-border-color-hover: transparent;
  --ds-tab-border-color-selected: transparent;
  --ds-tab-border-color-disabled: transparent;
  --ds-tab-border-color-selected-disabled: transparent;

  --ds-tab-spacing-lg: var(--ds-space-4) var(--ds-space-12);
  --ds-tab-spacing-sm: var(--ds-space-4) var(--ds-space-10);
}

.tab {
  $this: &;

  @include mixin.inline-flex;
  @include mixin.align-items(center);
  @include mixin.justify-content(center);
  position: relative;
  background-color: var(--ds-tab-bg-color-default);
  border: 1px solid;
  border-color: var(--ds-tab-border-color-default);
  flex-shrink: 0; // Prevent tabs from shrinking when scrolling

  &:after {
    position: absolute;
    bottom: -1px;
    height: 2px;
    width: 0;
    background-color: var(--ds-tab-border-color-selected);
    transition: width .3s linear;
  }

  &__label {
    color: var(--ds-tab-color-default);
    white-space: nowrap; // Prevent text wrapping
  }

  &__icon {
    min-width: var(--ds-tab-icon-size);

    path {
      fill: var(--ds-tab-color-default);
    }
  }

  &:not(&--selected, &--disabled):hover {
    cursor: pointer;
    background-color: var(--ds-tab-bg-color-hover);
    border-color: var(--ds-tab-border-color-hover);

    #{$this}__label {
      color: var(--ds-tab-color-hover);
    }

    #{$this}__icon {
      path {
        fill: var(--ds-tab-color-hover);
      }
    }
  }

  &--selected {
    background-color: var(--ds-tab-bg-color-selected);
    border-color: var(--ds-tab-border-color-selected);
    cursor: default;

    &:after {
      width: 100%;
    }

    #{$this}__label {
      color: var(--ds-tab-color-selected);
    }

    #{$this}__icon {
      path {
        fill: var(--ds-tab-color-selected);
      }
    }
  }

  &--disabled {
    background-color: var(--ds-tab-bg-color-disabled);
    border-color: var(--ds-tab-border-color-disabled);
    cursor: default;

    #{$this}__label {
      color: var(--ds-tab-color-disabled);
    }

    #{$this}__icon {
      path {
        fill: var(--ds-tab-color-disabled);
      }
    }

    &#{$this}--selected {
      background-color: var(--ds-tab-bg-color-selected-disabled);
      border-color: var(--ds-tab-border-color-selected-disabled);
    }
  }
}

.tabs-wrapper {
  position: relative;
  @include mixin.flexbox;
  @include mixin.align-items(stretch);
  width: 100%;
  max-width: 100%; // Ensure it respects parent width
  overflow: hidden; // Constrain children

  &__arrow {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    @include mixin.absolute(0, unset, unset, unset);
    height: 100%;
    width: 90px;
    z-index: 1;
    padding: var(--ds-space-4);

    &--left {
      left: -1px;
      background: linear-gradient(90deg, #FFFFFF 32.1%, rgba(255, 255, 255, 0) 101.85%);
      @include mixin.justify-content(flex-start);

    }

    &--right {
      right: -1px;
      background: linear-gradient(270deg, #FFFFFF 32.1%, rgba(255, 255, 255, 0) 101.85%);
      @include mixin.justify-content(flex-end);

    }
  }
}

.tabs-container {
  $this: &;

  --ds-tabs-size-lg: var(--size-56);
  --ds-tabs-size-md: var(--size-48);
  --ds-tabs-size-sm: var(--size-40);

  --ds-tabs-primary-gap: var(--ds-space-24);
  --ds-tabs-primary-border: 1px solid var(--ds-color-border-tertiary);

  --ds-tabs-secondary-gap: var(--ds-space-4);
  --ds-tabs-secondary-padding: var(--ds-space-4);
  --ds-tabs-secondary-border-radius: var(--ds-border-radius-xl);

  --ds-tabs-tertiary-gap: var(--ds-space-12);

  --ds-tabs-dark-bg: var(--ds-color-bg-container-light);

  --ds-tabs-light-bg: var(--ds-color-bg-white);
  --ds-tabs-light-border: 1px solid var(--ds-color-border-tertiary);

  @include mixin.flexbox;
  @include mixin.align-items(stretch);
  position: relative;
  width: 100%;

  &--scrollable {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    scrollbar-width: none; // Firefox
    -ms-overflow-style: none; // IE/Edge

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &--large {
    min-height: var(--ds-tabs-size-lg);

    .tab, .tab-skeleton {
      border-radius: var(--ds-tab-border-radius-lg);
    }
  }

  &--medium {
    min-height: var(--ds-tabs-size-md);

    .tab, .tab-skeleton {
      border-radius: var(--ds-tab-border-radius-md);
    }
  }

  &--small {
    min-height: var(--ds-tabs-size-sm);

    .tab, .tab-skeleton {
      border-radius: var(--ds-tab-border-radius-sm);
    }
  }

  &--primary {
    --ds-tab-border-color-default: var(--ds-color-border-tertiary);
    --ds-tab-border-color-hover: var(--ds-color-border-tertiary);
    --ds-tab-border-color-selected: var(--ds-color-border-brand-dark);
    --ds-tab-border-color-disabled: var(--ds-color-border-tertiary);

    gap: var(--ds-tabs-primary-gap);
    border-bottom: var(--ds-tabs-primary-border);

    &#{$this}--skeleton {
      padding: var(--ds-space-10) 0;

      &#{$this}--small {
        .tab-skeleton {
          max-width: var(--ds-size-56);
        }
      }
    }

    .tab {
      border-radius: 0;
      border-width: 0;

      &:after {
        content: '';
      }
    }
  }

  &--secondary {
    --ds-tab-border-radius: var(--ds-border-radius-lg);

    --ds-tab-color-default: var(--ds-color-text-secondary);
    --ds-tab-color-hover: var(--ds-color-text-secondary);
    --ds-tab-color-selected: var(--ds-color-text-primary);
    --ds-tab-color-disabled: var(--ds-color-text-disabled);

    gap: var(--ds-tabs-secondary-gap);
    padding: var(--ds-tabs-secondary-padding);
    border-radius: var(--ds-tabs-secondary-border-radius);

    .tab {
      flex: 1;
    }

    &#{$this}--scrollable {
      .tab {
        flex: 0 0 auto; // Don't flex grow when scrollable
      }
    }
  }

  &:not(&--primary) {
    &#{$this}--dark {
      --ds-tab-bg-color-default: transparent;
      --ds-tab-bg-color-hover: var(--ds-color-bg-container);
      --ds-tab-bg-color-selected: var(--ds-color-bg-white);
      --ds-tab-bg-color-disabled: transparent;
      --ds-tab-bg-color-selected-disabled: var(--ds-color-bg-white);

      --ds-tab-border-color-selected: var(--ds-color-border-tertiary);
      --ds-tab-border-color-disabled: transparent;
      --ds-tab-border-color-selected-disabled: var(--ds-color-border-disabled);

      background-color: var(--ds-tabs-dark-bg);
    }

    &#{$this}--light {
      --ds-tab-bg-color-default: transparent;
      --ds-tab-bg-color-hover: var(--ds-color-bg-container-lighter);
      --ds-tab-bg-color-selected: var(--ds-color-bg-container-light);
      --ds-tab-bg-color-disabled: transparent;
      --ds-tab-bg-color-selected-disabled: var(--ds-color-bg-container-light);

      background-color: var(--ds-tabs-light-bg);
      border: var(--ds-tabs-light-border);
    }
  }

  &--tertiary {
    --ds-tab-color-default: var(--ds-color-text-secondary);
    --ds-tab-color-hover: var(--ds-color-text-secondary);
    --ds-tab-color-selected: var(--ds-color-text-primary);
    --ds-tab-color-disabled: var(--ds-color-text-disabled);

    gap: var(--ds-tabs-tertiary-gap);
    // Remove width: fit-content to allow overflow detection

    &#{$this}--dark {
      --ds-tabs-dark-bg: none;
    }

    &#{$this}--light {
      --ds-tabs-light-bg: none;
      --ds-tabs-light-border: 0;
    }

    &#{$this}--large {
      min-height: calc(var(--ds-tabs-size-lg) - var(--ds-size-8));
    }

    &#{$this}--medium {
      min-height: calc(var(--ds-tabs-size-md) - var(--ds-size-8));
    }

    &#{$this}--small {
      min-height: calc(var(--ds-tabs-size-sm) - var(--ds-size-8));
    }
  }

  &--secondary, &--tertiary {
    .tab {
      padding: var(--ds-tab-spacing-lg);
    }

    &#{$this}--small {
      .tab {
        padding: var(--ds-tab-spacing-sm);
      }
    }
  }

  &--skeleton {
    width: 100%;
  }
}

.tab-skeleton {
  width: 100%;
  max-width: 130px;
  background: linear-gradient(-60deg, var(--ds-color-bg-container) 33%, #f4f4f4, var(--ds-color-bg-container) 66%) right/300% 100%;
  animation: move 1s linear infinite;
}

@keyframes move {
  to {
    background-position: left
  }
}