@use "../helpers/mixin";

.tooltip {
  $this: &;

  --ds-tooltip-bg: var(--ds-color-bg-white);
  --ds-tooltip-color: var(--ds-color-text-inverse);
  --ds-tooltip-padding: var(--ds-space-4) var(--ds-space-8);
  --ds-tooltip-siz-lg: var(--ds-size-32);
  --ds-tooltip-size-sm: var(--ds-size-24);
  --ds-tooltip-border-radius-lg: var(--ds-border-radius-lg);
  --ds-tooltip-border-radius-sm: var(--ds-border-radius-md);
  --ds-tooltip-max-width: var(--ds-size-240);

  --ds-tooltip-arrow-size-lg: var(--ds-size-8);
  --ds-tooltip-arrow-size-sm: var(--ds-size-4);
  --ds-tooltip-arrow-border-radius-lg: 2px;
  --ds-tooltip-arrow-border-radius-sm: 1.5px;
  --ds-tooltip-arrow-position: var(--ds-space-16);
  --ds-tooltip-arrow-bg: var(--ds-color-bg-white);
  --ds-tooltip-shadow: drop-shadow(0px 1px 2px rgba(34, 34, 34, 0.06)) drop-shadow(0px 2px 2px rgba(34, 34, 34, 0.08)) drop-shadow(0px 1px 4px rgba(34, 34, 34, 0.08));;

  @include mixin.flexbox;
  @include mixin.align-items(center);
  position: fixed;
  color: var(--ds-tooltip-color);
  background-color: var(--ds-tooltip-bg);
  filter: var(--ds-tooltip-shadow);
  max-width: var(--ds-tooltip-max-width);
  padding: var(--ds-tooltip-padding);
  z-index: 9999;

  &__arrow {
    position: absolute;
    width: 0;
    height: 0;
    color: var(--ds-tooltip-arrow-bg);
  }

  &#{$this}--top {
    &-left, &-center, &-right {
      #{$this}__arrow {
        transform: rotate(135deg);
      }
    }
  }

  &#{$this}--bottom {
    &-left, &-center, &-right {
      #{$this}__arrow {
        transform: rotate(-45deg);
      }
    }
  }

  &#{$this}--middle {
    &-left {
      #{$this}__arrow {
        transform: rotate(45deg);
      }
    }

    &-right {
      #{$this}__arrow {
        transform: rotate(-135deg);
      }
    }
  }

  &--large {
    min-height: var(--ds-tooltip-siz-lg);
    border-radius: var(--ds-tooltip-border-radius-lg);

    #{$this}__arrow {
      border: var(--ds-tooltip-arrow-size-lg) solid transparent;
      border-top: var(--ds-tooltip-arrow-size-lg) solid;
      border-right: var(--ds-tooltip-arrow-size-lg) solid;
    }

    &#{$this}--top {
      &-left, &-center, &-right {
        #{$this}__arrow {
          top: calc(100% - calc(var(--ds-tooltip-arrow-size-lg) + 4px));
        }
      }
    }

    &#{$this}--bottom {
      &-left, &-center, &-right {
        #{$this}__arrow {
          bottom: calc(100% - calc(var(--ds-tooltip-arrow-size-lg) + 4px));
        }
      }
    }

    &#{$this}--top, &#{$this}--bottom {
      &-center {
        #{$this}__arrow {
          left: calc(50% - var(--ds-tooltip-arrow-size-lg));
        }
      }
    }

    &#{$this}--middle {
      &-left, &-right {
        #{$this}__arrow {
          top: calc(50% - var(--ds-tooltip-arrow-size-lg));
        }
      }

      &-left {
        #{$this}__arrow {
          transform: rotate(45deg);
          left: calc(100% - calc(var(--ds-tooltip-arrow-size-lg) + 4px));
        }
      }

      &-right {
        #{$this}__arrow {
          transform: rotate(-135deg);
          right: calc(100% - calc(var(--ds-tooltip-arrow-size-lg) + 4px));
        }
      }
    }
  }

  &--small {
    min-height: var(--ds-tooltip-size-sm);
    border-radius: var(--ds-tooltip-border-radius-sm);

    #{$this}__arrow {
      border: var(--ds-tooltip-arrow-size-sm) solid transparent;
      border-top: var(--ds-tooltip-arrow-size-sm) solid;
      border-right: var(--ds-tooltip-arrow-size-sm) solid;
    }

    &#{$this}--top {
      &-left, &-center, &-right {
        #{$this}__arrow {
          top: calc(100% - var(--ds-tooltip-arrow-size-sm));
        }
      }
    }

    &#{$this}--bottom {
      &-left, &-center, &-right {
        #{$this}__arrow {
          bottom: calc(100% - var(--ds-tooltip-arrow-size-sm));
        }
      }
    }

    &#{$this}--top, &#{$this}--bottom {
      &-center {
        #{$this}__arrow {
          left: calc(50% - var(--ds-tooltip-arrow-size-sm));
        }
      }
    }

    &#{$this}--middle {
      &-left, &-right {
        #{$this}__arrow {
          top: calc(50% - var(--ds-tooltip-arrow-size-sm));
        }
      }

      &-left {
        #{$this}__arrow {
          left: calc(100% - var(--ds-tooltip-arrow-size-sm));
        }
      }

      &-right {
        #{$this}__arrow {
          right: calc(100% - var(--ds-tooltip-arrow-size-sm));
        }
      }
    }
  }

  &__inner {
    word-break: break-word;
  }

  &--top, &--bottom {
    &-left {

      #{$this}__arrow {
        left: var(--ds-tooltip-arrow-position);
      }
    }
  }

  &--top, &--bottom {
    &-right {
      #{$this}__arrow {
        right: var(--ds-tooltip-arrow-position);
      }
    }
  }

}

