@use "../helpers/mixin";

.collapse {
    $this: &;

    --ds-collapse-border-width: 0 0 1px;
    --ds-collapse-border-color: var(--ds-color-border-secondary);
    --ds-collapse-border-color-disabled: var(--ds-color-border-disabled);
    --ds-collapse-space: var(--ds-space-16);
    --ds-collapse-size: var(--ds-space-56);

    --ds-collapse-content-space: var(--ds-space-16) 0 0;

    border-width: var(--ds-collapse-border-width);
    border-color: var(--ds-collapse-border-color);
    border-style: solid;
    padding: var(--ds-collapse-space);
    overflow: hidden;
    min-height: var(--ds-collapse-size);

    &--opened {
        #{$this}__header{
            &__icon {
                transition: transform 300ms ease 0s, color 300ms ease-in-out 0s;
                transform: rotate(180deg);
            }
        }
    }

    &--disabled {
        border-color: var(--ds-collapse-border-color-disabled);

        #{$this}__header {
            cursor: not-allowed;
        }

        #{$this}__additional {
            opacity: 0.5;
        }
    }

    &__header {
        @include mixin.flexbox;
        @include mixin.justify-content(space-between);
        cursor: pointer;
        width: 100%;

        &__icon {
            transition: transform 300ms ease 0s, color 300ms ease-in-out 0s;
            transform: rotate(0);
            order: 1;
        }

        &__inner {
            flex: 1;
            max-width: calc(100% - var(--ds-size-24));
            padding-right: var(--ds-space-8);
            word-break: break-word;
        }

        &--reverse {
            #{$this}__header__icon {
                order: -1;
            }

            #{$this}__header__inner {
                padding-right: 0;
                padding-left: var(--ds-space-8);
            }
        }
    }

    &__content {
        padding: var(--ds-collapse-content-space);
    }
}

.collapse-group {
    --ds-collapse-group-item-space: var(--ds-space-24);

    &__item:not(:last-child) {
        margin-bottom: var(--ds-collapse-group-item-space);
    }

  .collapse {
    &--opened {
      > .collapse__header {
        .collapse__header__icon {
          transform: rotate(180deg);
        }
      }
    }

    .collapse__header__icon {
      transform: rotate(0deg);
    }
  }
}