@use "../helpers/mixin";

.side-navigation {
  $this: &;

  @include mixin.flexbox;
  @include mixin.flex-direction(column);
  @include mixin.fixed(0,unset, 0, 0);
  min-width: 64px;
  width: 64px;
  transition: width 0.4s linear, min-width 0.4s linear, padding-left 0.4s linear;
  background-color: var(--ds-color-bg-container-lighter);
  border-right: 1px solid var(--ds-color-border-quintary);
  box-shadow: 0 0 56px 2px #4E4E4E1F;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 9999;

  @media (max-width: 1024px) {
    left: -100%;
    width: 280px;
    transition: left 0.3s linear;
  }
  
  &__btn {
    cursor: pointer;
    display: none;
  }

  &__logo.link:not(.link--disabled):focus {
      box-shadow: none;
      outline: none;
  }

  &--pin {
    position: relative;
    box-shadow: none;
  }

  &--opened {
    width: 280px;
    min-width: 280px;

    @media (max-width: 1024px) {
      left: 0;
    }

    #{$this}__btn {
      display: flex;
    }

    .navigation-item {
      &__inner {
        > a,  >div:not(.navigation-item__right-content, .navigation-item__actions) {
          > .svg-icon + .body {
             max-width: 100%;
             padding-left: var(--ds-space-8);
          }
        }
      }

      &__right-content {
        display: block;
      }
    }

    #{$this}__btn {
      .svg-icon {
        transform:  rotate(-180deg);
      }
    }

    .navigation-block {
      &__label {
        &__text {
          max-width: 100%;
        }

        &__divider {
          max-width: 0;
          transition: max-width 0.1s linear;
        }
      }
    }
  }

  header {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    @include mixin.justify-content(space-between);
    padding: var(--ds-space-16) var(--ds-space-20);
    height: var(--ds-size-64);
  }

  main {
    flex: 1;
    overflow-y: scroll;
    padding: 0 var(--ds-space-2) 0 var(--ds-space-8);
  }

  footer {
    margin-top: auto;
  }
}

.navigation-item {
  $this: &;
  position: relative;

  &:not(&:last-child) {
    margin-bottom: var(--ds-space-2);
  }

  &__inner {
      @include mixin.flexbox;
      @include mixin.align-items(center);
      width: 100%;
      border-radius: var(--ds-border-radius-lg);
      position: relative;
      padding: 0 var(--ds-space-8);

      >a, >div:not(.navigation-item__right-content, .navigation-item__actions) {
        @include mixin.flexbox;
        @include mixin.align-items(center);
        position: relative;
        width: 100%;
        height: var(--ds-size-40);
        text-decoration: none;
        transition: padding-left 0.3s linear;
        padding-left: var(--ds-space-6);

        >.svg-icon {
          path {
            fill: var(--ds-color-text-tertiary);
          }
        }

        >.svg-icon + .body {
          @media (min-width: 1025px) {
            @include mixin.truncate(0);
            padding-left: 0;
            color: var(--ds-color-text-secondary);
            transition: all 0.3s linear;
          }
        }
      }

      .svg-icon {
        font-size: var(--font-size-20);
        min-width: var(--ds-size-20);
      }

      @media (min-width: 1025px) {
        &:hover {
          background-color: var(--ds-color-bg-container-light);

          #{$this}__actions {
            @include mixin.flexbox;
          }
        }
      }

      @media (max-width: 1024px) {
        background-color: var(--ds-color-bg-container-light);

        #{$this}__actions {
          @include mixin.flexbox;
        }
      }

      &.active {
        background-color: var(--ds-color-bg-container);

        >a, >div:not(.navigation-item__right-content, .navigation-item__actions) {

          >.svg-icon {
            path {
              fill: var(--ds-color-text-primary);
            }
          }
          >.svg-icon + .body {
            color: var(--ds-color-text-primary);
          }
        }
      }
  }

  &--expandable {
    > #{$this}__inner {
      @media (min-width: 1025px) {
        &:hover {
          > a, > div:not(.navigation-item__right-content, .navigation-item__actions) {
            > .svg-icon {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  &__child {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s linear;
    padding-left: var(--ds-space-40);

    &.active {
      max-height: 1000px;
    }
  }

  &__actions {
    @include mixin.align-items(center);
    @include mixin.absolute( 0,0,0,0);
    @include mixin.justify-content(space-between);
    gap: var(--ds-space-8);
    position: absolute;
    display: none;
    padding: 0 var(--ds-space-8);

    &__expand,
    &__expand_mobile {
      width: 20px;

      .svg-icon {
        transition: all 0.3s linear;

        path {
          fill: var(--ds-color-text-tertiary);
        }
      }

      &.opened {
        .svg-icon {
          transform: rotate(-180deg);
        }
      }
    }

    &__expand {
      @media (max-width: 1024px) {
        display: none;
      }
    }

    &__expand_mobile {
      display: none;
      @media (max-width: 1024px) {
        @include mixin.flexbox;
        @include mixin.align-items(center);
        margin-left: auto;
        gap: var(--ds-space-8);
      }
    }

    &__right {
      @include mixin.flexbox;
      @include mixin.align-items(center);
      margin-left: auto;
      gap: var(--ds-space-8);
    }
  }

  &__right-content {
    display: none;
  }
}

.navigation-block {
  $this: &;
  position: relative;
  flex: 1;
  margin-bottom: var(--ds-space-16);

  &__label {
    @include mixin.flexbox;
    @include mixin.align-items(center);
    @include mixin.truncate(100%);
    min-height: var(--ds-size-32);
    padding: 0 var(--ds-space-12);
    margin-bottom: var(--ds-space-2);

    &__text {
      @media (min-width: 1025px) {
        @include mixin.truncate(0);
        font-size: 13px;
        transition: max-width 0.3s linear;
      }
    }

    &__divider {
      @include mixin.truncate(100%);
      transition: max-width 0.5s linear;

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }
}